<div id="{{'box-' + index}}" style="max-width: max-content; max-height: max-content; cursor: pointer; display: grid;">
    <div id="{{'container-' + index}}" class="my-container" style="justify-self: center; min-width: 300px;">
        <img id="{{'image-' + index}}" src="{{playlistInfo.image.url}}" width="300px" class="image" />
        <span id="{{'middle-' + index}}" class="middle" style="cursor: default;">

            <div class="columns is-gapless">
                <div class="column mx-1" matTooltip="Play playlist">
                    <div id="{{'leftText-' + index}}" (click)="quickPlayPlaylist(index)" class="my-text">
                        <mat-icon id="{{'leftIcon-' + index}}" aria-hidden="false"
                            aria-label="publish playlist to home page">
                            play_arrow
                        </mat-icon>
                    </div>
                </div>
                <div class="column mx-1" matTooltip="{{getSpecialActionToolTipText()}}">
                    <div id="{{'middleText-' + index}}" (click)="playlistSpecialAction(index)" class="my-text">
                        <mat-icon id="{{'middleIcon-' + index}}" aria-hidden="false"
                            aria-label="publish playlist to front page">
                            {{playlistActionIcon}}
                        </mat-icon>
                    </div>
                </div>
            </div>
        </span>
    </div>
    <div id="{{'text-' + index}}" style="max-width: max-content; justify-self: center;">
        <p id="{{'nameText-' + index}}">{{playlistInfo.name}}</p>
        <p id="{{'descriptionText-' + index}}">{{playlistInfo.description}}</p>
        <p id="{{'tracksText-' + index}}">tracks: {{playlistInfo.tracksTotal}}</p>
        <div *ngIf='isFrontPage'>
            <hr />
            <p>Uploaded by</p>
            <p>Mockify: {{playlistInfo.displayName}} </p>
            <p>Spotify: {{playlistInfo.spotifyDisplayName}}</p>
        </div>
    </div>
</div>