<div>
    <section id="profile" class="hero is-fullheight has-background-primary mb-6"
        style="padding-left: calc(100vw - 100%);">
        <div class="hero-body">
            <div class="container" *ngIf='this.spotifyUser'>
                <div class="box has-text-centered">
                    <div>
                        <div>
                            <button routerLink="/home">Home</button>
                            <p>Display Name: {{this.spotifyUser.display_name}}</p>
                            <p>ID: {{this.spotifyUser.id}}</p>
                            <p>Followers: {{this.spotifyUser.followers}}</p>
                            <img src="{{this.spotifyUser.profile_picture_URL}}" />
                        </div>
                    </div>
                </div>
                <div class="has-text-centered" *ngIf="this.userPlaylists">
                    <div>
                        <div>
                            <h1 class="my-6">My Playlists</h1>
                            <div>
                                <div class="columns is-multiline is-centered">
                                    <div id="{{'box-' + i}}" class="box mx-2 column is-4 playlist-box"
                                        style="justify-content: center; display: grid; cursor: pointer; "
                                        *ngFor="let playlist of userPlaylists; index as i"
                                        (click)="openPlaylistDialog($event, i)">
                                        <div id="{{'box-' + i}}"
                                            style="max-width: max-content; max-height: max-content; cursor: pointer; display: grid;">
                                            <div id="{{'container-' + i}}" class="my-container"
                                                style="justify-self: center; min-width: 300px;">
                                                <img id="{{'image-' + i}}" src="{{playlist.image.url}}" width="300px"
                                                    class="image" />
                                                <span id="{{'middle-' + i}}" class="middle" style="cursor: default;">

                                                    <div class="columns is-gapless">
                                                        <div class="column mx-1" matTooltip="Play playlist">
                                                            <div id="{{'leftText-' + i}}" (click)="quickPlayPlaylist(i)"
                                                                class="my-text">
                                                                <mat-icon id="{{'leftIcon-' + i}}" aria-hidden="false"
                                                                    aria-label="publish playlist to home page">
                                                                    play_arrow
                                                                </mat-icon>
                                                            </div>
                                                        </div>
                                                        <div class="column mx-1"
                                                            matTooltip="Publish/delete playlist from front page">
                                                            <div id="{{'middleText-' + i}}"
                                                                (click)="uploadPlaylistToFrontPage(i)" class="my-text">
                                                                <mat-icon id="{{'middleIcon-' + i}}" aria-hidden="false"
                                                                    aria-label="publish playlist to front page">
                                                                    {{isPublished(i)}}
                                                                </mat-icon>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                            <div id="{{'text-' + i}}"
                                                style="max-width: max-content; justify-self: center;">
                                                <p id="{{'nameText-' + i}}">{{playlist.name}}</p>
                                                <p id="{{'descriptionText-' + i}}">{{playlist.description}}</p>
                                                <p id="{{'tracksText-' + i}}">tracks: {{playlist.tracksTotal}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-player id='player-box' [isPlayerSetUp]='isPlayerSetUp' [playerId]='playerId' [isSongPlaying]='isSongPlaying'
        [songURL]='songURL' [artistName]='artistName' [isShuffling]="isShuffling" [songName]="currentSongPlaying"
        [repeatingIndex]="repeatingIndex" (playPauseAction)='playPauseAction()' (nextSongAction)='nextSongAction()'
        (previousSongAction)='previousSongAction()' (shufflingAction)='shuffleMusic()'
        (repeatingAction)='setRepeatMode()' (setUpPlayerAction)='setUpPlayer()'
        style="position: fixed; bottom: 0; right: 0; width: 100%;">
    </app-player>
</div>