<section class="hero is-fullheight has-background-primary">
    <div class="hero-body">
        <div class="container m-6">
            <div class="box has-text-centered">

                <div *ngIf='this.spotifyUser'>
                    <div>
                        <p>Display Name: {{this.spotifyUser.display_name}}</p>
                        <p>ID: {{this.spotifyUser.id}}</p>
                        <p>Followers: {{this.spotifyUser.followers}}</p>
                        <img src="{{this.spotifyUser.profile_picture_URL}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>