<section class="hero is-fullheight has-background-primary">
    <div class="hero-body" style="justify-content: center;">
        <div class="is-centered" style="min-width: 40%;">
            <div class="box has-text-centered">
                <h1 class="is-size-3">
                    Reset Password
                </h1>

                <div class="form-group" *ngIf='form'>
                    <div class="field">
                        <label class="label is-pulled-left has-text-grey-light">Email</label>
                        <div class="control">
                            <input [(ngModel)]="form.email" class="input" type="text" placeholder="your@email.com">
                        </div>
                    </div>

                    <div class="field is-centered">
                        <div class="control">
                            <button (click)="resetPassword()" class="button is-link">Reset Password</button>
                        </div>
                        <p id="confirmation" class="help is-success" style="visibility: hidden">If your account exists,
                            we have sent a password reset email.</p>
                    </div>
                    <div class="field mb-6 mt-4 is-size-7 has-text-grey-light">
                        <span class="is-pulled-left">
                            <a routerLink='/login'>
                                <- Log In </a>
                        </span>
                        <span class="is-pulled-right ">
                            <span>
                                <a>Register</a>
                            </span>
                        </span>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>