<section class="hero is-fullheight has-background-primary">
    <div class="hero-body">
        <div class="container m-6">
            <div class="box has-text-centered">
                <h1>
                    Home
                </h1>
                <div *ngIf='myAuth.currentUser'>
                    Hello, {{myAuth.currentUser.displayName}}!
                </div>
                <div *ngIf='!myAuth.currentUser'>
                    <div>
                        <button routerLink="/login">Log in</button>
                        <button routerLink="/register">Create an account</button>
                    </div>
                </div>

                <div *ngIf='myAuth.currentUser'>

                    <div *ngIf="isDoneLoading">
                        <span>
                            <button (click)="signAccountOut()">Sign out</button>
                            <button *ngIf='!isSpotifyConnected' (click)="requestAccessToSpotify()">Link account to
                                Spotify!</button>
                            <button *ngIf='isSpotifyConnected' routerLink="/profile">Profile</button>
                        </span>

                        <div *ngIf='isSpotifyConnected'>

                        </div>






                    </div>


                </div>
            </div>
        </div>

    </div>
</section>