<section class="hero is-fullheight has-background-primary">
    <div class="hero-body">
        <div class="container">
            <div class="box has-text-centered">
                <h1>
                    Home
                </h1>
                <div *ngIf='myAuth.currentUser'>
                    Hello, {{myAuth.currentUser.displayName}}!
                </div>
                <div *ngIf='!myAuth.currentUser'>
                    <div>
                        <button routerLink="/login">Log in</button>
                        <button routerLink="/register">Create an account</button>
                    </div>
                </div>

                <div *ngIf='myAuth.currentUser'>

                    <div *ngIf="isDoneLoading">
                        <span>
                            <button (click)="signAccountOut()">Sign out</button>
                            <button *ngIf='!isSpotifyConnected' (click)="requestAccessToSpotify()">Link account to
                                Spotify!</button>
                            <button *ngIf='isSpotifyConnected' routerLink="/profile">Profile</button>
                        </span>


                        <div class="has-text-centered" *ngIf="this.frontPagePlaylists">
                            <div>
                                <div>
                                    <h1 class="my-6">Front Page</h1>
                                    <div>
                                        <div class="columns is-multiline is-centered">
                                            <div id="{{'box-' + i}}" class="box mx-2 column is-4 playlist-box"
                                                style="max-height: min-content; height: min-content; justify-content: center; display: grid; cursor: pointer; "
                                                *ngFor="let playlist of shownFrontPagePlaylists; index as i"
                                                (click)="openPlaylistDialog($event, i)">
                                                <div id="{{'box-' + i}}"
                                                    style="max-width: max-content; max-height: min-content; height: min-content; cursor: pointer; display: grid;">
                                                    <div id="{{'container-' + i}}" class="my-container"
                                                        style="justify-self: center; max-width: 300px; max-height: 300px; min-width: 300px; min-height: 300px;">
                                                        <img id="{{'image-' + i}}" src="{{playlist.image.url}}"
                                                            width="300px" class="image" />
                                                        <span id="{{'middle-' + i}}" class="middle"
                                                            style="cursor: default;">
                                                            <div id="{{'middleText-' + i}}" class="my-text"
                                                                (click)="followPlaylist(i)">
                                                                <mat-icon id="{{'middleIcon-' + i}}" aria-hidden="false"
                                                                    aria-label="follow playlist on spotify">
                                                                    {{checkFollowed(i)}}</mat-icon>
                                                            </div>
                                                        </span>
                                                    </div>
                                                    <div id="{{'text-' + i}}"
                                                        style="max-width: max-content; justify-self: center;">
                                                        <p>{{playlist.name}}</p>
                                                        {{playlist.description}}
                                                        <p>tracks: {{playlist.tracksTotal}}</p>
                                                        <hr />
                                                        <p>Uploaded by</p>
                                                        <p>Mockify: {{playlist.displayName}} </p>
                                                        <p>Spotify: {{playlist.spotifyDisplayName}}</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-6">
                                <mat-paginator [length]="frontPagePlaylistLength" [pageSize]="pageSize"
                                    (page)="pageChange($event)" aria-label="Select page">
                                </mat-paginator>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</section>