<section class="hero is-fullheight has-background-primary">
    <div class="hero-body">
        <div class="container m-6">
            <div class="box has-text-centered">
                <h1>
                    Home
                </h1>
                <div *ngIf='myAuth.currentUser'>
                    Hello, {{myAuth.currentUser.displayName}}!
                </div>
                <button *ngIf='!myAuth.currentUser' routerLink="/login">Log in</button>
                <button *ngIf='!myAuth.currentUser' routerLink="/register">Create an account</button>
                <button *ngIf='myAuth.currentUser' (click)="signAccountOut()">Sign out</button>
                <button *ngIf='myAuth.currentUser' (click)="requestAccessToSpotify()">Link account to Spotify!</button>
            </div>
        </div>

    </div>
</section>